<link rel="apple-touch-icon" sizes="180x180" href="favi/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favi/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favi/favicon-16x16.png">
  </head>

  <body class="hero-anime">

  	<div class="navigation-wrap start-header start-style backdrop-blur">
  		<div class="container nav-container">
  			<div class="row">
  				<div class="col-12">
  					<nav class="navbar navbar-expand-md navbar-light">

  						<a class="navbar-brand" href="/"><img src="/images/brindlogo.png" alt=""></a>

  						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  							<span class="navbar-toggler-icon"></span>
  						</button>

  						<div class="collapse navbar-collapse" id="navbarSupportedContent">
  							<ul class="navbar-nav ml-auto py-4 py-md-0">

                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 <%= home %>">
  									<a class="nav-link " href="/">Home</a>
  								</li>
                  <!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 ">
                    <a class="nav-link" href="home">Home</a>
                  </li> -->
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 <%= gossips %>">
  									<a class="nav-link " href="gossips">Muchatlu❤</a>
  								</li>

  								<!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
  									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
  									<div class="dropdown-menu">
  										<a class="dropdown-item" href="#">Action</a>
  										<a class="dropdown-item" href="#">Another action</a>
  										<a class="dropdown-item" href="#">Something else here</a>
  										<a class="dropdown-item" href="#">Another action</a>
  									</div>
  								</li> -->
  								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 <%= meet %> ">
  									<a class="nav-link" href="meet">2020 meet-ups</a>
  								</li>
  								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
  									<a class="nav-link" href="puzzles">Puzzles</a>
  								</li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 <%= puzzles %>">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Extras</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="release">Trips&foods</a>
                      <a class="dropdown-item" href="release">Placements</a>
                    </div>
                  </li>
  							</ul>
  						</div>

  					</nav>
  				</div>
  			</div>
  		</div>
  	</div>
