<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Brindavanam-home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/nav.css">
  <script src="https://kit.fontawesome.com/e88105b741.js" crossorigin="anonymous"></script>


<%- include("partials/header.ejs"); -%>



<section id="home">
  <div id="home_parallalax">
    <div class="vertical-center">
      <h1>#ManaTelugu ManaBrindavanam❤</h1>
      <p>Brindavanam is a cultural assoc uniting all the Telugu speaking community. Being the largest assoc on the campus and  passing the "Telugu" bond over the years.</p>
    </div>
  </div>
  <div class="container">
    <div class="row ">
      <div class="col-lg-12 aboutus">
        <h1>About us</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
          recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

          Why do we use it?
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
          'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
          their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

        </p>
      </div>
    </div>
  </div>
  <div class="graycol">
    <div class="container">
      <h1>Events</h1>
      <div class="row eventRow">

        <div class="col-lg-4 col-sm-6 details">
          <div class=" eventCards event1">
          </div>
          <div class="col-lg-12 reveal1">
            <p><strong>Freshers:</strong>
Your first chance at being a part of the family. An annual event specifically for the incoming batch where you get to know fellow Telugu people. A night filled with energy,fun and more fun. Also a special video welcoming the freshers and hence officially marking the beginning of your campus journey ;P</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
          <div class=" eventCards event2">

          </div>
          <div class="col-lg-12 reveal1">
            <p><strong>Sankranti Celebrations:</strong>
Revisit our childhood favourites with Bhogi Bonfire early in the morning and Rangoli competition and Kite festival and more exciting events to follow.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 "><div class=" eventCards event3"></div>
        <div class="col-lg-12 reveal1">
          <p><strong>Tollywood Quiz:</strong>
Do you think you're that so called "movie buff"? Do you live and breathe Telugu cinema? Then this is definitely for you. What better way to celebrate our culture than discussing about cinema. Welcome to the night filled with "Telugu ness" and crazy Tolly trivia,not to mention the exciting prizes..It's a quiz after all.</p>
        </div>
      </div>

      </div>

      <div class="row eventRow">
        <div class="col-lg-4 col-sm-6 ">
          <div class=" eventCards event4">
          </div>
          <div class="col-lg-12 reveal1">
            <p><strong>Cultural Night:</strong>
That one special night where we embrace our culture filled with varied performances to showcase your talent. Get dressed , get clicked with your homies , Eat delicious Telugu food , Enjoy your hearts out and make memories that last forever.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
          <div class=" eventCards event5">

          </div>
          <div class="col-lg-12 reveal1">
            <p><strong>Gnapika:</strong>
 Arguably,we live the best days of our lives on campus. This is an outlet for the passout batch to revisit those beautiful moments and memories made along the way along with your friends. Relive the entire campus life in oneday.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 "><div class=" eventCards event6"></div>
        <div class="col-lg-12 reveal1">
          <p><strong>Telugu DJ Night:</strong>
Take your energy levels to the peaks unknown to you earlier. Dance with all your energy  for our Telugu songs, with a mix of DJ till you drain all the energy out. The night is ours.</p>
        </div>
      </div>
      </div>
    </div>
</section>

<section id="postHolders">
  <div class="container">
    <h1>Post holders</h1>
    <div class="row">
      <div class="col-lg-6">
        <div class="president">

        </div>
        <h3>Manivishal Burra</h3>
        <h4>President</h4>
      </div>
      <div class="col-lg-6">
        <div class="secretery">

        </div>
        <h3>Shashank Reddy</h3>
        <h4>Secretary</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="secretery2">

        </div>
        <h3>Srihanuma kondamuri</h3>
        <h4>Secretary</h4>
      </div>
      <div class="col-lg-6">
        <div class="treasurer">

        </div>
        <h3>Sreenu Reddy</h3>
        <h4>Treasurer</h4>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer.ejs"); -%>
