<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Brindavanam</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">

  <link rel="stylesheet" href="css/nav.css">
  <script src="https://kit.fontawesome.com/e88105b741.js" crossorigin="anonymous"></script>


<%- include("partials/header.ejs"); -%>

<form class="" action="/post" method="post" style="text-align:center;padding-top:120px;" enctype="multipart/form-data">
  <h2>Heading</h2>
  <input type="text" name="heading" placeholder="Heading of trip">
  <h3>writeup</h3>
  <textarea name="writeup" rows="4" cols="80"></textarea>
  <h2>Overview</h2>
  <textarea name="overview" rows="2" cols="80"></textarea>
  <input type="file" name="file" value="">
  <br>
  <input type="submit" name="" value="Upload">
</form>

<%- include("partials/footer.ejs"); -%>
