<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Brindavanam-puzzles</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/puzzle.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="css/puzzle1.js"></script>
	<script src="css/puzzleScript.js"></script>
  <script src="https://kit.fontawesome.com/e88105b741.js" crossorigin="anonymous"></script>

<%- include("partials/header.ejs"); -%>




<div class="all" id="puzzlemain">
<div id="puzzle-wrapper"><h1>crossword</h1><!-- crossword puzzle appended here --></div>
</div>

<%- include("partials/footer.ejs"); -%>
