<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brindavanam</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/release.css">
    <script src="https://kit.fontawesome.com/e88105b741.js" crossorigin="anonymous"></script>


<%- include("partials/header.ejs"); -%>
<div id="release" >
  <img src="https://i.pinimg.com/originals/5c/5d/66/5c5d6684644136c4b1442f1db30af6bf.gif" alt="">
</div>

<%- include("partials/footer.ejs"); -%>
