#home{
  margin-top: 75px;
  height: 100%;
}
#postHolders {
  padding: 40px;
}
#home h1,#postHolders h1{
  color: black;
  text-decoration: underline;
  font-size: 40px;
}

.eventRow{
  padding: 30px;
}
.col-lg-12,.col-lg-4{
  padding: 20px;
}
.row .col-lg-6{
margin-left: auto;
margin-right: auto;
padding: 40px;
text-align: center;
}
.graycol{
  background-color: #f4f9f9;
  padding: 20px;
}
#home_parallalax{
  height: 100vh;
  background-image: url('../images/brinda2logo2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#home_parallalax .vertical-center{
  margin: 0;
  position: absolute;
  top: 60%;
  left:3%;
  width: 50%;
  color: white;
}
.aboutus{
  padding: 40px 0;
}
#home_parallalax .vertical-center h1{
  color: white;
  text-decoration: none;
  font-size: 44px;
}
.eventCards{
  transition: 1s;
  height: 250px;
  width: 250px;
  overflow: hidden;
  margin: 0px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  cursor: pointer;
}
.reveal1 {
  transition: 0.5s;
  overflow: hidden;
  padding: 0;
  height: 0;
}
.eventCards:hover{
  transition: 0.5s;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  box-shadow: 0 4px 18px 0px rgb(0 0 0 / 50%), 0 7px 10px -5px rgb(0 0 0 / 15%);
}
.eventCards:hover + div:nth-child(2),.reveal1:hover {
   transition: 0.5s;
   height: 300px;
   padding: 20px 20px 20px 0;

}
.event1{
  background-image: url('../images/freshers.png.jpg');
}
.event2{
  background-image: url('https://scontent-hkt1-2.cdninstagram.com/v/t51.2885-15/e35/82377105_585046829017378_1467742591916670013_n.jpg?_nc_ht=scontent-hkt1-2.cdninstagram.com&_nc_cat=110&_nc_ohc=9gN00biz-ugAX8wuLqP&tp=1&oh=18a277b07dd244ebfb97ba19329fca3a&oe=604EE858');
}
.event3{
  background-image: url('https://scontent-hkt1-2.xx.fbcdn.net/v/t1.0-9/72551404_2622904434442225_1312184441040273408_n.png?_nc_cat=105&ccb=3&_nc_sid=730e14&_nc_ohc=uWyHNax3Vc0AX8vdJwk&_nc_ht=scontent-hkt1-2.xx&oh=67b96d234f00d6a08ea95f2d8531dc60&oe=604ABDBF');
}
.event4{
  background-image: url('../images/culturalnight.jpeg');
}
.event5{
  background-image: url('https://scontent-hkt1-2.xx.fbcdn.net/v/t1.0-9/117427952_3295195150546480_297398734818111104_o.jpg?_nc_cat=109&ccb=3&_nc_sid=730e14&_nc_ohc=9SoMaphP2HgAX--mBO7&_nc_ht=scontent-hkt1-2.xx&oh=b35f0f20c2c81d5ba2a718377d6d7d38&oe=60494982');
}
.event6{
  background-image: url('https://scontent-hkt1-2.cdninstagram.com/v/t51.2885-15/e35/84786193_816541092090506_7509014157927328880_n.jpg?_nc_ht=scontent-hkt1-2.cdninstagram.com&_nc_cat=102&_nc_ohc=vbgMmJU4doUAX-_3CSc&tp=1&oh=843b3a74dcf0f5f1aedaf4bb13773837&oe=604DDB54');
}
.president,.secretery,.secretery2,.treasurer{
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}
.president{
  background-image: url('http://res.cloudinary.com/dzqu99ism/image/upload/v1613235888/oqur9larthrptzd1kazr.jpg');
}
.secretery{
  background-image: url('https://scontent-hkt1-2.xx.fbcdn.net/v/t1.0-9/125072532_3377935428927195_2807502548315231546_n.jpg?_nc_cat=106&ccb=3&_nc_sid=09cbfe&_nc_ohc=Z5RP2df5bHwAX-qWQu4&_nc_ht=scontent-hkt1-2.xx&oh=897a004a7fafdaf51a5b86226bf8051c&oe=604A620A');
}
.secretery2{
  background-image: url('https://scontent-hkt1-2.xx.fbcdn.net/v/t1.0-9/85171374_2143289992484092_6145341100779971119_o.jpg?_nc_cat=104&ccb=3&_nc_sid=09cbfe&_nc_ohc=jekHHhGLcyoAX-B7pcQ&_nc_ht=scontent-hkt1-2.xx&oh=6b19b44502cbe606fd06da7a72f67801&oe=6047FC7E');
}
.treasurer{
  background-image: url('https://scontent-hkt1-2.xx.fbcdn.net/v/t1.0-9/73068602_1249822871864375_7894256044459687936_o.jpg?_nc_cat=100&ccb=3&_nc_sid=09cbfe&_nc_ohc=jNdlul6f_38AX-jFLIV&_nc_oc=AQkIBYkfBVJxrv_KUWmpE2fuJr7eOlcy8kwwzRSWLOOaRqb8Qp8Nv9kgZtHz0Cw6h_o&_nc_ht=scontent-hkt1-2.xx&oh=6a8edf9d14b3538ef9b0502f97de7b70&oe=60488C21');
}
@media (max-width:768px) {
  #home_parallalax .vertical-center h1 {
    color: white;
    text-decoration: none;
    font-size: 7vw;
}
.eventCards{
  width: 150px;
  height: 150px;
}
.eventCards:hover{
  width: 200px;
  height: 200px;
}
.president, .secretery, .secretery2, .treasurer {
  width: 130px;
  height: 130px;
}
.row .aboutus {
    padding: 40px;
}
}
@media (max-width:466px){
 p {

    font-size: 3vw;
    line-height: 5vw;
}
#home_parallalax {
    height: 72vh;
    background-image: url(../images/brinda2logo2.jpg);
    background-size: cover;
    background-attachment: inherit;
    background-position: center;
}
#home_parallalax .vertical-center {
    margin: 0;
    position: absolute;
    top:53%;
    bottom:17%;
    left: 3%;
    width: 50%;
    color: white;
}
.col-lg-4{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body.hero-anime p {
    opacity: 1;
    transform: translateY(0);
    /* transition-delay: 1700ms; */
}
.row .col-lg-6 {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}
#home h1, #postHolders h1 {
    color: black;
    text-decoration: underline;
    font-size: 27px;

}

}
