html{
  height: 100%;
}
body {

  height: 100%;
  margin: 0;
  overflow-x: hidden;
}
h1{
  padding-bottom: 20px;
  text-decoration: underline;
}
#puzzlemain{
  height: 888px;
}
#puzzle-clues{
  height: 600px!important;
  overflow: scroll;
}
.all
{
  font: 62.5%/1.3em Helvetica, sans-serif;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc75f;
  padding-top: 30px;
}

  table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
  }
  table tr{
    width: 100%;
  }
  table td {
    width: 3.5vw;
    height: 3.5vw;
    border: 1px solid #cdcdcd;
    padding: 0;
    margin: 0;
    background-color: #333;
    position: relative;
    border-style:hidden;
    border-radius: 8%;
  }

  td input {
    width: 100%;
    height: 100%;
    padding: 0em;
    border: none;
    text-align: center;
    font-size: 3em;
    color: #666;
    background-color: #f4f4f4;
    border-radius: 8%;
    border-style: solid;
    border-width: thin;
  }

  td input:focus {
    background-color: #fff;
  }

  td span {
    color: #444;
    font-size: 0.9em;
    position: absolute;
    top: -1px;
    left: 1px;
  }

  input.done {
    font-weight: bold;
    color: green;
  }

  .active,
  .clues-active {
    background-color: #ddd;
  }
  .clue-done {
    color: #999;
    text-decoration: line-through;
  }

  #puzzle-wrapper {
    float: left;
    width: 40%;
    margin-right: 3%;
  }
  #puzzle-clues {
    float: left;
    width: 40%;
    padding: 10px;
    margin-top: 85px;
  }

  #puzzle-clues li{
    font-size: 1.5em;
    margin: .3em;
    line-height: 1.6em;
    border-radius: 4px;
  }
  .gossips{
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  }
  @supports(backdrop-filter: opacity( 1.0 )) {
  #puzzle-clues {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1%;
  }
  @media (max-width:925px){
    .all{
      flex-direction: column;
    }
    table{
      width: 400px;
    }
    #puzzlemain{
      padding-top: 75px;
    }
    #puzzle-clues {
      width: 80%;
      margin-top: 0px;
      }
    #puzzle-wrapper{
      width:inherit;
    }
  }
@media (max-width:411px){
  table{
    width: 78vw;
  }
  h2{
    font-size: 1rem;
  }
  .all {
    font: 2vw/1.3em Helvetica, sans-serif;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/brett-jordan-gz-fIvZEgKQ-unsplash.jpg);
    background-size: cover;
    padding-top: 30px;
}
}
